@import "@unocss/reset/tailwind.css";
@unocss all;

html,
body {
  padding: 0;
  margin: 0;
  @apply antialiased;
}

a {
  color: inherit;
  @apply border-b border-b-gray-300 transition-all duration-100 no-underline dark:border-b-gray-700 hover:border-b-gray-500;
}

p,
li {
  @apply text-neutral-800 dark:text-neutral-200 leading-7 text-ellipsis overflow-hidden;
}

code {
  @apply font-mono text-sm text-rose-600 dark:text-cyan-400 px-1 py-0.5;
}

* {
  box-sizing: border-box;
}

*::selection {
  @apply bg-fuchsia-300/20 dark:bg-fuchsia-500/20;
}

button {
  background: none;
  padding: 0;
}

pre {
  overflow-x: auto;
  border-radius: 8px;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0); /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
  border-left: 4px solid rgb(59, 130, 246); /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

article p,
article ul,
article ol,
article blockquote,
article pre,
article table,
article dl,
article img,
article video {
  @apply mb-2;
}

article ul {
  @apply list-disc list-inside;
}

article ul ul {
  @apply list-square list-inside;
}

article ol {
  @apply list-decimal list-inside;
}

article ol {
  @apply list-alpha list-inside;
}

article li {
  @apply ml-4;
}

article li > p {
  @apply inline;
}

article h1,
article h2,
article h3 {
  @apply before:content-['#'] sm:before:-ml-5 before:w-5 before:inline-block
  before:font-light before:text-rose-600 before:dark:text-cyan-400
  font-bold mt-4 mb-2 leading-7;
}

article h1 {
  @apply text-2xl;
}

article h2 {
  @apply text-xl;
}

article h3 {
  @apply text-lg;
}
